.cardContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--magenta);
    width: 20rem;
    justify-content: space-between;
    padding: 1em;
    color: var(--light);
    fill: var(--light);
    border-radius: .5em;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row {
    display: flex;
    justify-content: space-between;
}

.horario {
    align-self: flex-end;
    font-size: .8em;
    height: 2em;
}