.flexColumnWrapper {
    display: flex;
    justify-content: space-between;
}

.filtros {
    display: flex;
    gap: 1em;
    align-self: flex-end;
}

main {
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}