.row {
    display: flex;
    justify-content: space-between;
    margin: .5em 0;
    align-items: end;
}

.rowData {
    display: flex;

}

.deconto {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.dataSelector {
    display: flex;
    align-items: end;
    gap: .5em;
}

.spin {
    position: absolute;
}