.row {
    display: flex;
    justify-content: space-between;
    margin: .5em 0;
}

.deconto {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
}