.quadradinho {
    width: 1em;
    height: 1em;
    background-color: aqua;
    display: inline-block;
    margin-right: .5em;
}

.legendasContainer {
    list-style: none;
    display: flex;
    gap: 1em;
}

.legenda {
    display: flex;
    align-items: center;
}