.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}