.horaContainer {
    background-color: var(--roxo03);
    width: 23%;
    text-align: center;
    padding: 0.3rem .5rem;
    cursor: pointer;
}

.horaContainer:hover {
    background-color: var(--roxo04);
}
